{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
{% load static %}
    <section class="page-title">
        Change Your Password
    </section>
<!--Django need to end the url with '/'. Note that instead of '/register', it becomes '/register/'-->
{%if errors%}
    <div>
            {% for error in errors %}
            <td><font color="red">
                {{ error }}
                <br>
            </font></td>
            {% endfor %}
    </div>
{% elif success%}
    <div> <p style="color:green">{{ success }} </p></div>
{% endif %}

    <section class="form-container">
        <form method="POST" action='/changepassword/'>
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        Old password:
                    </td>
                    <td>
                        <input type="password" name="oldPass">
                    </td>
                </tr>
                <tr>
                    <td>
                        New password:
                    </td>
                    <td>
                        <input type="password" name="newPass">
                    </td>
                </tr>
                <tr>
                    <td>
                        Confirm Password:
                    </td>
                    <td>
                        <input type="password" name="confirmPass">
                    </td>
                </tr>
            </table><br>
            <div class="submit-div">
                <input type="submit" value="Submit">
            </div>
        </form>
    </section>

{% endblock %}